.login {
  width: 100%;
  padding: 80px 0;
  text-align: center;
}

.login_title {
  margin-bottom: 44px;
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 31.992px */
}

.user_id,
.user_password {
  width: 340px;
  margin: auto;
}

.user_id_input,
.user_password_input {
  width: 300px;
  height: 50px;
  padding: 0px 20px;
  border-radius: 4px;
  border: 1px solid var(--gray-300, #a6a6a6);
}

.user_password_input {
  margin-top: 12px;
}

.error_message {
  display: none;
  margin: 7px 0;
  margin-left: 7px;
  text-align: start;
  color: var(--info---error);
  font-family: Pretendard;
  font-size: 13px;
}

.is_invalid.error_message {
  display: block;
}

.login_alert_container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #aaa;
  background: #0000005b;
  z-index: 100;
  overflow: hidden;
  visibility: hidden;
}

.login_alert_box {
  width: 360px;
  height: 177px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--white);
  border-radius: 10px;
}

.login_alert_text {
  width: 100%;
  height: 122px;
  color: var(--content);
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 41px;
  padding-top: 40px;
  text-align: center;
  font-family: Pretendard;
  border-bottom: 1px solid gray;
}

.login_alert_btn {
  width: 100%;
  height: 55px;
  line-height: 45px;
  cursor: pointer;
  color: var(--primary);
  font-weight: 700;
  text-align: center;
  border: none;
  font-family: Pretendard;
  background: var(--white);
  font-size: 16px;
  padding: 0;
  border-radius: 10px;
}

.info_search {
  width: 340px;
  height: 19px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 28px;
  text-align: end;
  color: #000;
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 19.205px */
}

.btn_wrapper {
  width: 340px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn_wrapper button,
.btn_wrapper a {
  height: 54px;
  border-radius: 4px;
  cursor: pointer;
}

.login_btn {
  background: var(--primary, #5f0080);
  border: none;
  color: var(--white, #fff);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.register_btn {
  background: #fff;
  border: 1px solid var(--primary, #5f0080);
  color: var(--primary, #5f0080);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
}
