.login {
  width: 100%;
  padding: 80px 0;
  /* padding-bottom: 80px; */
  text-align: center;
}

.login_title {
  margin-bottom: 44px;
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 31.992px */
}

.user_email_input,
.user_password_input {
  width: 300px;
  height: 50px;
  padding: 0px 20px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid var(--gray-300, #a6a6a6);
}

.info_search {
  width: 340px;
  height: 19px;
  margin: auto;
  margin-bottom: 28px;
  text-align: end;
  color: #000;
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 19.205px */
}

.btn_wrapper {
  width: 340px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn_wrapper button {
  height: 54px;
  border-radius: 4px;
  cursor: pointer;
}

.login_btn {
  background: var(--primary, #5f0080);
  border: none;
  color: var(--white, #fff);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.register_btn {
  background: #fff;
  border: 1px solid var(--primary, #5f0080);
  color: var(--primary, #5f0080);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
