label {
  user-select: none;
  cursor: pointer;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.duplicate_alert_container,
.duplicate_email_alert_container,
.duplicate_number_alert_container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #aaa;
  background: #0000005b;
  z-index: 100;
  overflow: hidden;
  visibility: hidden;
  /* opacity: 0; */
  /* transition: all 1s; */
}

.duplicate_alert_box,
.duplicate_email_alert_box,
.duplicate_number_alert_box {
  width: 360px;
  height: 177px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--white);
  border-radius: 10px;
}

.duplicate_alert_text,
.duplicate_email_alert_text,
.duplicate_number_alert_text {
  width: 100%;
  height: 122px;
  color: var(--content);
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 41px;
  padding-top: 40px;
  text-align: center;
  font-family: Pretendard;
  border-bottom: 1px solid gray;
}

.duplicate_alert_btn,
.duplicate_email_alert_btn,
.duplicate_number_alert_btn {
  width: 100%;
  height: 55px;
  line-height: 45px;
  cursor: pointer;
  color: var(--primary);
  font-weight: 700;
  text-align: center;
  border: none;
  font-family: Pretendard;
  background: var(--white);
  font-size: 16px;
  padding: 0;
  border-radius: 10px;
}

.register_container {
  /* background: #eee; */
  width: 640px;
<<<<<<< HEAD
  /* margin: auto; */
  margin: 80px auto;
  /* margin-bottom: 80px; */
=======
  margin: auto;
  margin: 80px auto;
>>>>>>> upstream/dev
}

.register_title {
  text-align: center;
  /* margin-top: 80px; */
  margin-bottom: 44px;
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 31.992px */
}

.require {
  text-align: end;
  margin-bottom: 7px;
  color: var(--content, #333);
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18.005px */
}

.line_bold {
  border: 1px solid rgb(51, 51, 51);
  /* border: 1px solid #333333; */
}

.user_id_wrapper,
.user_password_wrapper,
.user_password_check_wrapper,
.user_name_wrapper,
.user_email_wrapper,
.user_phone_wrapper,
.user_address_wrapper,
.user_gender_wrapper,
.user_birth_wrapper,
.user_add_wrapper,
.user_agree_info_wrapper {
  display: flex;
  width: 100%;
  height: 84px;
  padding: 20px 4px;
  gap: 8px;
}

.user_id_wrapper,
.user_password_wrapper,
.user_password_check_wrapper,
.user_email_wrapper {
  position: relative;
}

.error_message {
  display: none;
  position: absolute;
  bottom: 0;
  left: 155px;
  color: var(--info---error);
  font-family: Pretendard;
  font-size: 13px;
}

.is_invalid.error_message {
  display: block;
}

.user_address_wrapper {
  height: 107px;
}

.user_agree_info_wrapper {
  height: 296px;
}

.user_id_label,
.user_password_label,
.user_password_check_label,
.user_name_label,
.user_email_label,
.user_phone_label,
.user_address_label,
.user_gender_label,
.user_birth_label,
.user_add_label,
.user_agree_info_label {
  user-select: none;
  display: inline-block;
  width: 139px;
  height: 44px;
  padding-left: 4px;
  line-height: 44px;
  color: var(--content, #333);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.user_id_input,
.user_password_input,
.user_password_check_input,
.user_name_input,
.user_email_input,
.user_phone_input {
  width: 289px;
  height: 44px;
  border: none;
  padding: 0px 20px;
  border-radius: 4px;
  border: 1px solid var(--gray-300, #a6a6a6);
  color: var(--gray-400, #898989);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  /* outline: none; */
}

.input_active {
  color: #000;
}

.duplicate_id_btn,
.duplicate_email_btn,
.check_number_btn {
  background: var(--white);
  cursor: pointer;
  width: 143px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid var(--primary, #5f0080);
  color: var(--primary, #5f0080);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.search_address {
  display: flex;
  flex-direction: column;
  width: 331px;
}

.user_address_btn {
  background: var(--white);
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--primary, #5f0080);
  color: var(--primary, #5f0080);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  margin-bottom: 4px;
}

.user_address_wrapper p {
  color: #000;
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.205px */
}

.radio_wrapper label {
  cursor: pointer;
  user-select: none;
  line-height: 44px;
  margin-right: 60px;
  color: var(--content, #333);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

#user_gender_male + label::before,
#user_gender_female + label::before,
#user_gender_none + label::before,
#user_add_friend + label::before,
#user_add_event + label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('/src/assets/icons/Radio.svg');
  background-size: cover;
  margin-right: 8px;
  vertical-align: -7px;
}

#user_gender_male:checked + label::before,
#user_gender_female:checked + label::before,
#user_gender_none:checked + label::before,
#user_add_friend:checked + label::before,
#user_add_event:checked + label::before {
  background-image: url('/src/assets/icons/Radio-1.svg');
}

.agree_all_label::before,
.agree_check label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('/src/assets/icons/Check.svg');
  background-size: cover;
  margin-right: 8px;
  vertical-align: -7px;
}

#agree_all:checked + div label::before,
#check_1:checked + div label::before,
#check_2:checked + div label::before,
#check_3:checked + div label::before,
#check_4:checked + div label::before {
  background-image: url('/src/assets/icons/Checked.svg');
}

.birth_box {
  display: flex;
  border-radius: 2px;
  border: 1px solid var(--gray-300, #a6a6a6);
}

.birth_box input {
  /* border: none; */
  width: 110px;
  padding: 0;
  border: 0;
  outline: none;
  text-align: center;
}

.line_nomal {
  border-bottom: 0;
  height: 1px;
  background: linear-gradient(to bottom, transparent 50%, currentColor 50%);
}

.agree_info_wrapper {
  color: var(--content, #333);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.agree_check_box {
  display: flex;
  flex-direction: row;
  line-height: 51px;
  width: 429px;
  height: 51px;
  gap: 8px;
}

.agree_all_label {
  color: var(--content, #333);
  font-family: Pretendard;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 31px; /* 31.992px */
}

.agree_ckeck_btn {
  cursor: pointer;
  background: var(--white);
  border: none;
  color: var(--primary, #5f0080);
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 700;
  line-height: 51px; /* 19.205px */
}

.agree_all {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.agree_all_text {
  padding-left: 32px;
  color: var(--gray-400, #898989);
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.205px */
}

.agree_check {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line_thin {
  border-bottom: 0;
  height: 1px;
  background: linear-gradient(to bottom, transparent 10%, currentColor 90%);
}

.join_btn_wrapper {
  text-align: center;
  margin: 40px 0;
}

.join_btn {
  cursor: pointer;
  width: 340px;
  height: 54px;
  border-radius: 4px;
  border: none;
  background: var(--primary, #5f0080);
  color: var(--white, var(--white));
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.disable_btn {
  cursor: inherit;
  background: var(--white);
  color: var(--gray--200);
  border: 1px solid var(--gray--200);
}
