:root {
  --container-width: 1050px;
}

.main_banner {
  padding-bottom: 40px;
}

.main_banner img {
  width: 100%;
}

/* 배너 슬라이더 */
.swiper-button-prev.banner,
.swiper-button-next.banner {
  width: 50px;
  height: 50px;

  top: var(--swiper-navigation-top-offset, 48.5%);
}

.swiper-button-prev.banner {
  background: url(/src/assets/icons/ArrowLeft.svg) no-repeat;
  left: 200px;
}

.swiper-button-next.banner {
  background: url(/src/assets/icons/ArrowRight.svg) no-repeat;
  right: 200px;
}

.swiper-button-next.banner::after,
.swiper-button-prev.banner::after {
  display: none;
}

.swiper-pagination.banner {
  width: 47px;
  padding: 0px 12px;
  border-radius: 12px;
  background: rgba(64, 64, 64, 0.3);
  color: var(--white, #fff);
  font-size: 12.003px;
  font-weight: 500;
  line-height: 150%; /* 18.005px */
  white-space: nowrap;

  left: 1208px;
  bottom: 28px;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 40px;
  position: relative;
}

.main_section {
  display: flex;
  padding: 40px 0px;
  flex-flow: column wrap;
  align-items: center;
  gap: 28px;
  width: var(--container-width);
}

.main_section h2 {
  color: var(--content, #333);
  font-size: 28.43px;
  font-weight: 700;
  line-height: 140%; /* 39.802px */
}

.section_product {
  width: var(--container-width);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  position: relative;
}

.section_recommend .item {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 16px;
}

.item figure {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  width: 249px;
  padding-bottom: 5px;
}

.item img {
  width: 249px;
  height: 320.52px;
}

figcaption {
  display: flex !important;
  flex-flow: column nowrap;
  gap: 8px;
}

.item .product_delivery {
  color: var(--gray-400, #898989);
  font-size: 15px;
  font-weight: 500;
  line-height: 150%; /* 18.005px */
  height: 18px;
  /* display: block; */
}

.item .title {
  color: var(--content, #333);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.item .discount {
  color: var(--accent-yellow, #fa622f);

  font-size: 21.328px;
  font-weight: 600;
  line-height: 150%; /* 31.992px */
}

.item .price {
  color: var(--content, #333);
  font-size: 21.328px;
  font-weight: 600;
  line-height: 150%; /* 31.992px */
}

.item .price_origin {
  color: var(--gray-400, #898989);
  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%; /* 19.205px */
  text-decoration: line-through;
  height: 19.2px;
}

.item .desc_product {
  color: var(--gray-400, #898989);
  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%; /* 19.205px */
}

.item .tag {
  font-size: 12.003px;
  font-weight: 500;
  line-height: 150%; /* 18.005px */
  padding: 4px;
  border-radius: 4px;
  background: var(--gray-100, #e1e1e1);
}

.item .tag.tag_karly {
  color: var(--primary, #5f0080);
}

/* 상품 슬라이더 */
.swiper-button-prev.recommend,
.swiper-button-next.recommend,
.swiper-button-prev.sale,
.swiper-button-next.sale {
  width: 60px;
  height: 60px;
  top: 32%;
  position: absolute;
  z-index: 5;
}

.swiper-button-prev.recommend,
.swiper-button-prev.sale {
  background: url(/src/assets/icons/ArrowLeft02.svg) no-repeat;
  left: -30px;
}

.swiper-button-next.recommend,
.swiper-button-next.sale {
  background: url(/src/assets/icons/ArrowRight02.svg) no-repeat;
  right: -30px;
}

.swiper-button-next.recommend::after,
.swiper-button-prev.recommend::after,
.swiper-button-next.sale::after,
.swiper-button-prev.sale::after {
  display: none;
}

.item.item_last {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 249px;
  height: 319.96px;
}

.item.item_last a {
  display: block;
  width: 64px;
  height: 64px;
}

.item.item_last a:hover .item_last_icon {
  background: url(/src/assets/icons/ArrowRoundRight02.svg) 50% 50% no-repeat;
}

.item.item_last a .item_last_icon {
  display: block;
  background: url(/src/assets/icons/ArrowRoundRight01.svg) 50% 50% no-repeat;
  margin-bottom: 18px;
  width: 64px;
  height: 64px;
}

.item.item_last a span {
  display: block;
  font-size: 16px;
  color: rgb(51, 51, 51);
  text-align: center;
}

/* 최근 본 상품 */
.recent_view {
  position: absolute;
  right: 39px;
  height: 100%;
  padding-bottom: 40px;
}

.recent_view_inner {
  position: sticky;
  top: 193px;
  display: flex;
  /* padding: 8px 8px 32px 8px; */
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--gray-200, #c4c4c4);
  width: 78px;
  height: 306px;
  z-index: 5;
  background-color: #fff;

  /* background-color: red; */
}

.recent_view_inner h3 {
  color: var(--black, #000);

  font-size: 12.003px;
  font-weight: 600;
  line-height: 150%; /* 18.005px */
  text-align: center;
  white-space: nowrap;
  margin-top: 10px;
}

.recent_view_inner .recent_view_item img {
  width: 60px;
}

/* 최근 본 상품 슬라이더 */
.swiper-button-next.recent,
.swiper-button-prev.recent {
  width: inherit;
  height: 18px;
}

.swiper-button-prev.recent {
  position: absolute;
  top: 21px;
  left: 0;
  width: 76px;
  height: 22.5px;
}

.swiper-button-next.recent {
  width: 76px;
  height: 22.5px;
  position: absolute;
  top: 303px;
  left: 0;
}

.swiper-button-next.recent::after,
.swiper-button-prev.recent::after {
  display: none;
}

.swiper.recent {
  height: 237px;
}
