/* 기본 스타일 */
button {
  cursor: pointer;
}

/* 제품 상세 페이지 메인 섹션 스타일 */
.item_detail_main {
  width: 1050px;
  padding-block-start: 40px;
  margin-block-start: 4px;
  margin-block-end: 96px;
  margin: 0 auto;
}

.product_purchase_section {
  position: relative;
  margin-block-end: 48px;
}

.product_img {
  position: absolute;
  width: 400px;
  height: 514px;
}

.product_purchase_container {
  width: 560px;
  margin-inline-start: auto;
}

.product_summary {
  & .product_delivery_info {
    color: var(--gray--500);

    /* Heading/Large */
    font-family: Pretendard;
    font-size: 21.328px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 29.859px */

    margin-block-end: 16px;
  }

  & .product_title {
    color: var(--content);

    /* Label/XL */
    font-family: Pretendard;
    font-size: 28.43px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 42.645px */
  }

  & .product_description {
    color: var(--gray--400);

    /* Paragraph/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */

    margin-block-end: 16px;
  }

  & .product_price {
    color: var(--content);

    /* Heading/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */

    margin-block-end: 16px;

    & em {
      /* Label/XL */
      font-family: Pretendard;
      font-size: 28.43px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 42.645px */
    }
  }

  & .benefit_notice {
    color: var(--primary);

    /* Label/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }
}

.product_brief_info_container {
  margin-block-start: 20px;

  & tr {
    border-block-start: 1px solid var(--gray--100);
    border-block-end: 1px solid var(--gray--100);

    & th {
      width: 128px;
      text-align: start;
      padding-inline-start: 4px;
      color: var(--gray--500);

      /* Label/Small */
      font-family: Pretendard;
      font-size: 12.003px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 18.005px */
    }

    & td {
      padding: 16px 0;
      color: var(--gray--500);

      /* Label/Small */
      font-family: Pretendard;
      font-size: 12.003px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 18.005px */
    }
  }
}

.product_delivery_description,
.product_package_notice {
  color: var(--gray--400);

  /* Label/Small */
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18.005px */
}

.product_allergy_description {
  color: var(--gray--500);
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18.005px */
}

.product_quantity_selector {
  width: 432px;
  height: 84px;
  position: relative;
  padding: 12px 12px 12px 16px;
  border: 1px solid var(--gray--100);
}

.product_quantity_select_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84px;
  height: 30px;
  color: var(--black);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */

  border: 1px solid var(--gray--200);
  margin-block-start: 12px;

  & button {
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
  }
}

.product_quantity_decrease_button {
  cursor: default;
}

.calculated_price {
  position: absolute;
  right: 12px;
  bottom: 12px;
  color: var(--content);

  /* Label/Small */
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18.005px */
}

.product_total_price_section {
  height: 130px;
  padding: 28px 0;
}

.product_total_price {
  color: var(--content);

  /* Heading/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */

  display: flex;
  justify-content: end;
  align-items: center;
  margin-block-end: 8px;

  & span {
    color: var(--black);

    /* Label/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  & em {
    /* Label/XL */
    font-family: Pretendard;
    font-size: 28.43px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 42.645px */

    margin-inline-start: 18px;
    padding-inline-end: 4px;
  }
}

.product_total_price_section {
  & .benefit_notice {
    color: var(--black);

    /* Label/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */

    display: flex;
    justify-content: end;
  }

  & .benefit_notice::before {
    content: '적립';
    margin-inline-end: 6px;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: var(--accent--yellow);
    color: var(--white);
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 16px */
  }
}

.product_choice_buttons {
  display: flex;
  justify-content: space-between;
}

.dibs_button,
.notify_button {
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid var(--gray--100);
  padding: 0;
  background-color: transparent;
}

.add_cart_button {
  display: inline-block;
  border: 0;
  padding: 0;
  width: 424px;
  height: 56px;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--white);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.product_details_buttons {
  display: flex;
  height: 54px;

  & button {
    flex-grow: 1;
    border: 1px solid var(--gray--300);
    background: var(--gray--50);
    padding: 0;
    color: var(--content);

    /* Label/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }
}

.product_details_description_button {
  border-block-start: 1px solid var(--gray--100);
  border-inline-end: 1px solid var(--gray--100);
  border-inline-start: 1px solid var(--gray--100);
  padding: 0;
  background-color: transparent;
  color: var(--primary);
}

.product_details_review_button > small {
  display: inline-block;
  margin-inline-start: 8px;
  color: var(--content);

  /* Paragraph/Small */
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.205px */
}

.product_description_brief_info {
  margin-block-start: 40px;
  margin-block-end: 96px;
}

.product_description_img_container {
  display: block;
  margin-block-end: 76px;
}

.product_description_img {
  width: 1050px;
}

.product_description_info_container {
  & p:first-child {
    text-align: center;
    color: var(--black);

    /* Label/XL */
    font-family: Pretendard;
    font-size: 28.43px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 42.645px */
  }

  & h4 {
    text-align: center;
    color: var(--content);

    /* Heading/XXXL */
    font-family: Pretendard;
    font-size: 50.517px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 70.724px */

    margin-block-end: 36px;
  }

  & p:last-child {
    color: var(--content);

    /* Paragraph/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */

    padding-block-start: 28px;
    border-block-start: 1px solid var(--gray--100);
  }
}

.karly_checkpoint {
  overflow: hidden;
  margin-block-end: 96px;

  & h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--content);

    /* Heading/XXXL */
    font-family: Pretendard;
    font-size: 50.517px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 70.724px */

    margin-block-end: 68px;
    text-align: center;
  }

  & h3::before {
    content: url(/src/assets/images/left_side_divide_line.png);
    transform: translateY(-16px);
  }

  & h3::after {
    content: url(/src/assets/images/right_side_divide_line.png);
    transform: translateY(-16px);
  }

  & picture {
    display: block;
    text-align: center;
  }
}

.product_details_info {
  margin-block-end: 72px;

  & picture {
    display: block;
    text-align: center;
  }
}

.why_karly {
  padding-block-start: 72px;
  padding-block-end: 136px;

  & h3 {
    color: var(--content);

    /* Heading/XL */
    font-family: Pretendard;
    font-size: 28.43px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.802px */

    text-align: center;
  }
}

.why_karly_list {
  margin: 36px auto 0;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(6, 1fr);
  width: 948px;

  & li {
    width: 316px;
    padding-block-start: 56px;

    & h4 {
      color: var(--primary);

      /* Label/Large */
      font-family: Pretendard;
      font-size: 21.328px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 31.992px */

      text-align: center;
      margin-block-end: 24px;
    }

    & p {
      color: var(--content);
      text-align: center;

      /* Paragraph/Medium */
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */

      margin: 0 auto;
    }
  }

  & li:first-child {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin: 0 auto;

    & h4::before {
      content: url(/src/assets/icons/why_karly_1.png);
      display: block;
      margin-block-end: 16px;
    }

    & p {
      width: 250px;
      height: 104px;
    }
  }

  & li:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    margin: 0 auto;

    & h4::before {
      content: url(/src/assets/icons/why_karly_2.png);
      display: block;
      margin-block-end: 16px;
    }

    & p {
      width: 264px;
      height: 104px;
    }
  }

  & li:nth-child(3) {
    grid-row: 1 / 2;
    grid-column: 5 / 7;
    margin: 0 auto;

    & h4::before {
      content: url(/src/assets/icons/why_karly_3.png);
      display: block;
      margin-block-end: 16px;
    }

    & p {
      width: 294px;
      height: 104px;
    }
  }

  & li:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    margin-inline-start: auto;

    & h4::before {
      content: url(/src/assets/icons/why_karly_4.png);
      display: block;
      margin-block-end: 16px;
    }

    & p {
      width: 260px;
      height: 130px;
    }
  }

  & li:last-child {
    grid-row: 2 / 3;
    grid-column: 4 / 7;
    margin-inline-end: auto;

    & h4::before {
      content: url(/src/assets/icons/why_karly_5.png);
      display: block;
      margin-block-end: 16px;
    }

    & p {
      width: 256px;
      height: 130px;
    }
  }
}

.product_review {
  margin-block-end: 72px;
}

.review_container {
  position: relative;
  margin-block-end: 56px;

  & h3 {
    color: var(--black);

    /* Heading/XL */
    font-family: Pretendard;
    font-size: 28.43px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.802px */

    margin-block-end: 24px;
  }

  & p {
    color: var(--content);

    /* Label/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  & small {
    color: var(--gray--500);

    /* Label/Small */
    font-family: Pretendard;
    font-size: 12.003px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18.005px */

    display: block;
  }

  & .review_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 156px;
    height: 44px;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--white);

    /* Label/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    text-align: center;
    line-height: 44px;
  }
}

.review_board_info_container {
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-block-end: 16px;

  & p {
    color: var(--content);

    /* Label/Small */
    font-family: Pretendard;
    font-size: 12.003px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18.005px */
  }
}

.review_sort_options {
  display: inline-flex;
  justify-content: center;

  & button {
    border: 0;
    padding: 0;
    background-color: transparent;
  }
}

.review_sort_options:first-child > button {
  color: var(--content);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.review_sort_options:first-child::after {
  content: '|';
  color: var(--gray--300);
  font-size: 12px;
  align-self: center;
  justify-self: end;
  padding: 0 8px;
}

.review_sort_options:last-child > button {
  color: var(--gray--300);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.review_board {
  width: 100%;
  border-block-start: 1px solid var(--black);
  margin-block-end: 16px;

  & tr {
    border-block-end: 1px solid var(--gray--100);

    & th {
      padding-inline-start: 20px;
    }
  }
}

.review_board_notice > th {
  color: var(--content);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */

  padding: 18px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  white-space: nowrap;
}

.review_board_review {
  & th {
    width: 230px;
    color: var(--black);

    /* Label/Small */
    font-family: Pretendard;
    font-size: 12.003px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18.005px */

    display: flex;
    justify-content: start;
  }

  & td {
    width: 820px;
    padding: 20px 0 20px 82px;

    & h4 {
      color: var(--gray--400);

      /* Label/Small */
      font-family: Pretendard;
      font-size: 12.003px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 18.005px */

      margin-block-end: 20px;
    }

    & p {
      color: var(--black);

      /* Paragraph/Small */
      font-family: Pretendard;
      font-size: 12.003px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 19.205px */

      margin-block-end: 20px;
    }

    & time {
      color: var(--gray--400);

      /* Label/Small */
      font-family: Pretendard;
      font-size: 12.003px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 18.005px */
    }
  }
}

.review_board_notice_mark,
.inquiry_board_notice_mark {
  display: inline-block;
  color: var(--content);

  /* Label/Small */
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18.005px */

  padding: 0px 8px;
  border-radius: 1px;
  background: var(--gray--100);
  margin-inline-end: 20px;
}

.review_board_best_mark {
  display: inline-block;
  color: var(--white);

  /* Label/Small */
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18.005px */

  padding: 0px 8px;
  border-radius: 1px;
  background: var(--secondary);
  margin-inline-end: 8px;
}

.review_board_member_class_mark {
  display: inline-block;
  color: var(--primary);

  /* Label/Small */
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18.005px */

  padding: 0px 8px;
  border-radius: 1px;
  border: 1px solid var(--primary);
  margin-inline-end: 8px;
}

.review_board_container > .page_move_buttons {
  width: 128px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  & .move_prev_page {
    width: 56px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid var(--gray--100);
    padding: 0;
    background-color: transparent;
  }

  & .move_next_page {
    width: 56px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid var(--gray--100);
    padding: 0;
    background-color: transparent;
  }
}

.product_inquiry {
  margin-block-end: 96px;
}

.inquire_container {
  position: relative;
  margin-block-end: 56px;

  & h3 {
    color: var(--black);

    /* Heading/XL */
    font-family: Pretendard;
    font-size: 28.43px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.802px */

    margin-block-end: 24px;
  }

  & small {
    color: var(--gray--500);

    /* Label/Small */
    font-family: Pretendard;
    font-size: 12.003px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18.005px */

    display: block;
  }
}

.inquire_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 156px;
  height: 44px;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--white);

  /* Label/Medium */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  text-align: center;
  line-height: 44px;
}

.inquiry_board {
  width: 100%;
  display: table;
  margin-block-end: 16px;
}

.inquiry_board_head > tr {
  border-block-start: 2px solid var(--black);
  border-block-end: 1px solid var(--black);

  & th {
    color: var(--black);

    /* Label/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */

    height: 58px;
    display: table-cell;
    vertical-align: middle;
  }

  & th:nth-child(n + 2) {
    width: 100px;
  }
}

.inquiry_board_body > tr {
  border-block-end: 1px solid var(--gray--100);

  & th {
    display: table-cell;
    vertical-align: middle;
    text-align: start;
    height: 58px;
    padding-inline-start: 20px;
    color: var(--content);

    /* Label/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  & td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: var(--gray--400);

    /* Label/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }
}

.inquiry_board_container > .page_move_buttons {
  width: 128px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  & .move_prev_page {
    width: 56px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid var(--gray--100);
    padding: 0;
    background-color: transparent;
  }

  & .move_next_page {
    width: 56px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid var(--gray--100);
    padding: 0;
    background-color: transparent;
  }
}
