:root {
  --container-width: 1050px;
  --navbar-height: 72px;
}

body {
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

/* 최상단 광고 banner */
.top_banner {
  background: var(--primary, #5f0080);
  width: 100vw;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.top_banner_inner {
  width: var(--container-width);
  position: relative;
  overflow: hidden;
}

.top_banner_inner p {
  text-align: center;
}

.top_banner_close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding-top: 3px;
  line-height: 20px;
  background-color: transparent;
}

.top_banner span {
  font-size: 16px;
  font-weight: 600;
}

/* 멤버 서비스 */
.header_member_service {
  display: flex;
  padding-top: 12px;
  align-items: center;
  gap: 12px;
}

.header_member_service li {
  display: inline-block;
  color: inherit;
}

.header_member_service a {
  display: inline-block;
  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%; /* 19.205px */
}

.header_member_service li:nth-child(1) {
  color: var(--primary, #5f0080);
}

.header_member_service li:nth-of-type(5) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;
  position: relative;
  height: 23px;
}

.header_member_service li:nth-of-type(5)::after {
  content: '';
  width: 8px;
  height: 5.6px;
  display: inline-block;
  background: url(/src/assets/icons/Icon_down1.png) no-repeat;
}

.header_member_service li:nth-of-type(5):hover .cs_modal,
.header_member_service li:nth-of-type(5):focus .cs_modal {
  display: flex;
}

.cs_modal {
  position: absolute;
  right: 0px;
  top: 23px;
  width: 130px;
  padding: 3px 9px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  display: none;
  flex-flow: column wrap;
  z-index: 10;
}

.cs_modal a {
  display: block;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 13px;
  line-height: 13px;
  background-color: #d9d9d9;
}

/* 헤더 */
.header_inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
  width: var(--container-width);
}

.header_main {
  padding: 32px 0 20px 0;
  display: grid;
  grid-template-columns: 1.1fr repeat(2, 1fr);
}

/* 로고 */
.logo a,
.logo img {
  display: block;
  padding-right: 2px;
}

.logo_switch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.switch button {
  border: none;
  background-color: transparent;
  color: #898989;
  font-size: 21.328px;
  font-weight: 600;
  line-height: 150%;
  padding: 12px;
}

.switch button.is--active,
.switch button:hover,
.switch button:focus {
  color: var(--primary, #5f0080);
}

.switch .new {
  position: relative;
}

.switch .new::after {
  position: absolute;
  top: 7px;
  right: 0px;
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  background: url(/src/assets/icons/new1.svg) no-repeat;
}

/* 검색창 */
.search {
  display: inline;
}

.search_form {
  position: relative;
}

.search_form input {
  display: flex;
  width: 365px;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;

  border-radius: 4px;
  border: 1px solid var(--primary, #5f0080);

  color: var(--gray-400, #898989);

  font-size: 21.328px;
  font-weight: 400;
  line-height: 160%; /* 34.125px */
}

.search_btn {
  background: transparent;
  position: absolute;
  top: 12px;
  right: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.search_btn img {
  display: block;
}

/* 아이콘 */
.icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
}

.icon_wrapper {
  width: 148px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.location_modal_wrapper {
  position: relative;
  cursor: pointer;
  height: 100%;
  padding: 10px 0;
}

.location_modal_wrapper:hover .location_modal,
.location_modal_wrapper:focus .location_modal {
  display: block;
}

.location_modal {
  display: none;
  position: absolute;
  top: 57px;
  right: -113px;
  width: 267px;
  height: 132px;
  background-color: #fff;
  padding: 17px 18px 18px 18px;
  z-index: 10;
  border: 1px solid #d9d9d9;
}

.location_modal::after {
  content: '';
  position: absolute;
  left: 130px;
  top: -6px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  rotate: 135deg;
}

.location_modal p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.location_modal span {
  color: var(--primary, #5f0080);
}

.location_modal_btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 6px;
  padding-top: 11px;
  font-size: 12px;
  font-weight: 500;
}

.location_modal_btn .location_modal_btn_login,
.location_modal_btn .location_modal_btn_addr {
  width: 80px;
  height: 36px;
  padding: auto 10px;
  border-radius: 4px;
  border: 1px solid var(--primary, #5f0080);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.location_modal_btn .location_modal_btn_login {
  color: var(--primary, #5f0080);
}

.location_modal_btn .location_modal_btn_addr {
  flex-grow: 2;
  background: var(--primary, #5f0080);
  color: #fff;
}

.location_modal_btn_addr::before {
  content: '';
  width: 19px;
  height: 20px;
  background: url(/src/assets/icons/search.svg) no-repeat -5px -3px / 25px;
  filter: invert(98%) sepia(98%) saturate(0%) hue-rotate(306deg)
    brightness(103%) contrast(101%);
}

/* 네비게이션 */
.nav_origin {
  width: 100vw;
  height: var(--navbar-height);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

.menu {
  width: var(--container-width);
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr) 1.5fr;
  align-items: center;

  color: var(--content, #333);

  font-size: 16px;
  font-weight: 600;
  line-height: var(--navbar-height); /* 24px */
}

.menu li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
  position: relative;
  height: var(--navbar-height);
}

.menu li:nth-child(2),
.menu li:nth-child(3),
.menu li:nth-child(4),
.menu li:nth-child(5) {
  justify-content: space-around;
}

.menu li:nth-child(2):hover,
.menu li:nth-child(3):hover,
.menu li:nth-child(4):hover,
.menu li:nth-child(5):hover {
  color: var(--primary, #5f0080);
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
}

.menu li:nth-child(1)::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(/src/assets/icons/Hamburger.svg) no-repeat;
}

.menu li:nth-child(1):hover .category,
.menu_scroll li:nth-child(1):hover .category {
  display: flex;
}

.menu li:nth-child(1):hover,
.menu_scroll li:nth-child(1):hover {
  color: var(--primary, #5f0080);
}

.menu li:nth-child(1):hover::before,
.menu_scroll li:nth-child(1):hover::before {
  filter: invert(10%) sepia(82%) saturate(6353%) hue-rotate(285deg)
    brightness(40%) contrast(109%);
}

/* 카테고리 메뉴 1depths */
.category {
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  top: var(--navbar-height);
  border: 1px solid #d9d9d9;

  color: var(--content, #333);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background-color: #fff;

  width: 247px;
  height: 775px;

  overflow-y: scroll;

  z-index: 10;
}

.category a {
  display: flex;
  width: 247px;
  padding: 8px 0px 8px 12px;
  align-items: center;
  gap: 16px;
  flex-flow: row nowrap;
  cursor: pointer;
}

.category a:hover {
  background: #f7f7f7;
  color: var(--primary, #5f0080);
}

.category a:hover img {
  filter: invert(10%) sepia(82%) saturate(6353%) hue-rotate(285deg)
    brightness(40%) contrast(109%);
}

.category a img {
  width: 24px;
  height: 24px;
}

.menu li:nth-last-child(1) {
  display: flex;
  flex-flow: row-reverse nowrap;
  height: 27px;
}

.menu_dawn {
  border-radius: 16px;
  border: 1px solid var(--gray-300, #a6a6a6);
  background-color: transparent;

  color: var(--primary, #5f0080);

  font-size: 12.003px;
  font-weight: 400;
  padding: 4px 8px;

  height: 27px;
  line-height: 18px;
}

.menu_dawn span {
  color: var(--gray-500, #6b6b6b);
}

/* 네비게이션 - 스크롤 이벤트 */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav_scroll {
  width: 100vw;
  height: var(--navbar-height);
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
  z-index: 10;
}

.menu_scroll {
  width: var(--container-width);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 72px;
  color: var(--content, #333);
  font-weight: 600;
}

.menu_scroll li:nth-child(1) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 12px;
  flex-basis: 120px;
}

.menu_scroll li:nth-child(1)::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(/src/assets/icons/Hamburger.svg) no-repeat;
}

.menu_scroll li:nth-child(2),
.menu_scroll li:nth-child(3),
.menu_scroll li:nth-child(4),
.menu_scroll li:nth-child(5) {
  display: flex;
  justify-content: center;
  flex-basis: 120px;
}

.menu_scroll li:nth-child(2):hover,
.menu_scroll li:nth-child(3):hover,
.menu_scroll li:nth-child(4):hover,
.menu_scroll li:nth-child(5):hover {
  color: var(--primary, #5f0080);
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
}

.menu_scroll li:nth-child(6) {
  flex-basis: 246px;
  position: relative;
}

.menu_scroll li:nth-child(7) {
  flex-basis: 148px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu_scroll .search_form input {
  display: flex;
  width: 196px;
  height: 10px;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid var(--primary, #5f0080);

  color: var(--gray-400, #898989);

  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%; /* 19.205px */

  position: absolute;
  top: 16px;
  left: 5px;
}

.menu_scroll .search_btn {
  background: transparent;
  position: absolute;
  top: 16px;
  right: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.menu_scroll .search_btn img {
  display: block;
}

.menu_scroll .icon_wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.menu_scroll .icon_wrapper img {
  display: block;
}
