:root {
  --container-width: 1050px;
}

body {
  height: 150vh;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

/* 최상단 광고 banner */
.top_banner {
  background: var(--primary, #5f0080);
  width: 100vw;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.top_banner::after {
  content: '';
  background: url(/src/assets/icons/ico_close_fff_84x84\ 1.png) no-repeat;
  display: inline-block;
  width: 42px;
  height: 42px;
  position: absolute;
  right: calc(calc(100vw - var(--container-width)) / 2);
  top: calc((50px - 42px) / 2);
}

.top_banner span {
  font-size: 16px;
  font-weight: 600;
}

/* 멤버 서비스 */
.member_service {
  display: flex;
  padding-top: 12px;
  align-items: center;
  gap: 12px;
}

.member_service li {
  display: inline-block;
  color: inherit;
}

.member_service a {
  display: inline-block;
  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%; /* 19.205px */
}

.member_service li:nth-of-type(5) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;
}

.member_service li:nth-of-type(5)::after {
  content: '';
  width: 8px;
  height: 5.6px;
  display: inline-block;
  background: url(/src/assets/icons/Icon_down\ 1.png) no-repeat;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 13px;
  line-height: 13px;
  background-color: #d9d9d9;
}

/* 헤더 */
.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
  width: var(--container-width);
}

.header_inner {
  padding: 32px 0 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* 로고 */
.logo_switch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo a,
.logo img {
  display: block;
}

.switch button {
  border: none;
  background-color: transparent;
  color: #898989;
  font-size: 21.328px;
  font-weight: 600;
  line-height: 150%;
  padding: 12px;
}

.switch button.is--active {
  color: var(--primary, #5f0080);
}

.switch .new {
  position: relative;
}

.switch .new::after {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  background: url(/src/assets/icons/new\ 1.svg) no-repeat;
}

/* 검색창 */
.search {
  display: inline;
}

.search_form {
  position: relative;
}

.search_form input {
  display: flex;
  width: 365px;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;

  border-radius: 4px;
  border: 1px solid #5f0080;

  color: var(--gray-400, #898989);

  font-size: 21.328px;
  font-weight: 400;
  line-height: 160%; /* 34.125px */
}

.search_btn {
  background: transparent;
  position: absolute;
  top: 12px;
  right: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.search_btn img {
  display: block;
}

/* 아이콘 */
.icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}

.icon-wrapper {
  width: 148px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/* 네비게이션 */
.nav_wrapper {
  position: relative;
  height: inherit;
}

.nav {
  width: 100vw;
  height: 72px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;
  position: absolute;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

.menu {
  width: var(--container-width);
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr) 1.5fr;
  align-items: center;

  color: var(--content, #333);

  font-size: 16px;
  font-weight: 600;
  line-height: 72px; /* 24px */
}

.menu li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
  position: relative;
  height: 72px;
}

.menu li:nth-child(2),
.menu li:nth-child(3),
.menu li:nth-child(4),
.menu li:nth-child(5) {
  justify-content: space-around;
}

.menu li:nth-child(1)::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(/src/assets/icons/Hamburger.svg) no-repeat;
}

.menu li:nth-child(1):hover .category {
  display: flex;
}

.menu_scroll li:nth-child(1):hover .category {
  display: flex;
}

/* 카테고리 메뉴 1depths */
.category {
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  top: 72px;
  border: 1px solid #d9d9d9;

  color: var(--content, #333);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background-color: #fff;

  width: 247px;
  height: 775px;

  overflow-y: scroll;
}

.category a {
  display: flex;
  width: 247px;
  padding: 8px 0px 8px 12px;
  align-items: center;
  gap: 16px;
  flex-flow: row nowrap;
  cursor: pointer;
}

.category a:hover {
  background: #f7f7f7;
  color: #5f0080;
}

.category a:hover img {
  filter: invert(10%) sepia(82%) saturate(6353%) hue-rotate(285deg)
    brightness(40%) contrast(109%);
}

.category a img {
  width: 24px;
  height: 24px;
}

.menu li:nth-last-child(1) {
  display: flex;
  flex-flow: row-reverse nowrap;
  height: 27px;
}

.menu_dawn {
  border-radius: 16px;
  border: 1px solid var(--gray-300, #a6a6a6);
  background-color: transparent;

  color: var(--primary, #5f0080);

  font-size: 12.003px;
  font-weight: 400;
  padding: 4px 8px;
}

.menu_dawn span {
  color: var(--gray-500, #6b6b6b);
}

/* 네비게이션 - 스크롤 이벤트 */
.nav_scroll {
  width: 100vw;
  height: 72px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

.menu_scroll {
  width: var(--container-width);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 72px;
  color: var(--content, #333);
  font-weight: 600;
}

.menu_scroll li:nth-child(1) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 12px;
  flex-basis: 120px;
}

.menu_scroll li:nth-child(1)::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(/src/assets/icons/Hamburger.svg) no-repeat;
}

.menu_scroll li:nth-child(2),
.menu_scroll li:nth-child(3),
.menu_scroll li:nth-child(4),
.menu_scroll li:nth-child(5) {
  display: flex;
  justify-content: center;
  flex-basis: 120px;
}

.menu_scroll li:nth-child(6) {
  flex-basis: 246px;
  position: relative;
}

.menu_scroll li:nth-child(7) {
  flex-basis: 148px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.menu_scroll .search_form input {
  display: flex;
  width: 196px;
  height: 10px;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid var(--primary, #5f0080);

  color: var(--gray-400, #898989);

  font-size: 12.003px;
  font-weight: 400;
  line-height: 160%; /* 19.205px */

  position: absolute;
  top: 16px;
  left: 5px;
}

.menu_scroll .search_btn {
  background: transparent;
  position: absolute;
  top: 16px;
  right: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.menu_scroll .search_btn img {
  display: block;
}

.menu_scroll a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
