.footer_inner {
  width: 1050px;
  margin: 0 auto;
}
.footer_area {
  display: flex;
  padding: 28px 0px 32px 0px;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray--100);
}
.footer_cs {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
.footer_cs_title {
  color: var(--content);
  font-size: 21.328px;
  font-weight: 700;
  line-height: 140%; /* 29.859px */
}
.footer_cs_tel {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer_cs_tel .footer_tel {
  color: var(--content);
  font-size: 37.897px;
  font-weight: 700;
  line-height: 140%; /* 53.056px */
}
.footer_cs_tel span {
  color: var(--content);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.footer_cs_info {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
.footer_cs_info div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer_cs_info dt {
  display: flex;
  width: 140px;
  height: 40px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--gray--200);
  box-sizing: border-box;
  color: var(--content);
  font-size: 16px;
  line-height: 160%; /* 25.6px */
}
.footer_cs_info dd {
  color: var(--content);
  font-size: 16px;
  line-height: 160%; /* 25.6px */
}
.footer_cs_info dd span {
  display: block;
}
.footer_cs_list li {
  color: var(--content);
  font-size: 12px;
  line-height: 160%; /* 19.205px */
}
.footer_cs_list li a {
  color: var(--primary);
}
.footer_info {
  display: flex;
  flex-flow: column nowrap;
  gap: 28px;
}
.footer_menu {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}
.footer_menu li {
  color: var(--content);
  font-size: 16px;
  line-height: 160%; /* 25.6px */
}
.footer_address {
  overflow: hidden;
  width: 416px;
}
.footer_address ul {
  display: flex;
  flex-flow: row wrap;
  margin-left: -17px;
}
.footer_address li {
  color: var(--content);
  font-size: 12px;
  line-height: 160%; /* 19.205px */
  position: relative;
  padding-left: 17px;
}
.footer_address li::before {
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: var(--content);
}
.footer_address a {
  color: var(--primary);
}
.w_stretch {
  width: 100%;
}
.sns_link_list {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
.certified_list {
  width: 1050px;
  display: flex;
  padding: 24px 0px 32px 0px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 19px;
}
.certified_list li {
  min-width: 23%;
}
.certified_list figure {
  display: flex;
  gap: 8px;
}
.certified_list figcaption {
  color: var(--content);
  font-size: 10px;
  line-height: 160%; /* 16px */
}
.certified_list figcaption span {
  display: block;
  white-space: nowrap;
}
.footer_copyright {
  display: flex;
  padding: 20px 4px 32px 4px;
  flex-direction: column;
  align-items: center;
  background: var(--gray--50);
  margin-top: 100px;
}
.footer_copyright .footer_text {
  color: var(--gray--400);
  text-align: center;
  font-size: 10px;
  line-height: 160%; /* 16px */
}
.footer_copyright .copyright_text {
  color: var(--gray--400);
  font-size: 10px;
  line-height: 160%; /* 16px */
  margin-top: 8px;
}
